

body{
  background-color: rgb(250, 249, 249);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
 
}

.light-mode{
  background-color: rgb(250, 249, 249);
}

.dark-mode{
  background-color: black;
}


.board-container{
  table-layout:auto;
  margin: 0 auto;
  
  
}





.levels button{
  background-color: rgb(255, 202, 176);
  font-size: 20px;
  margin: 10px;
  padding: 15px;
  border: none;
  border-radius:50px;
  box-shadow:2px 2px rgb(55, 52, 50,0.5);
  cursor: pointer;
}




.game-board table {
  background-color: rgb(72, 139, 143);
  box-shadow: -1px 1px 5px 1px rgb(0, 0, 0, 0.9);
  margin-left: 10px;
  margin-right: 10px;
}



.easy{
width:20vw;
height:20vw;
}

.medium {
  width:25vw;
  height:25vw;
}


.hard  {
  width:35vw;
  height:35vw;
}

.cell { 
  box-shadow:10px;
  border:0.2px solid rgba(220, 205, 205, 0.5);
  text-align: center;
 

}

.cell:hover{
  background-color: rgba(109, 207, 212, 0.5);
  cursor: pointer;
}


.easy .cell {
  width:25%;
  height:25%;
}
 

.medium .cell{
  width: 12.5%;
  height:12.5%;
 
}

 
.hard .cell {
  font-size: 15px;
  width:8.33%;
  height:8.33%;


}




.opened{
  border: none;
  background-color:rgb(173, 210, 201);
  box-shadow: inset -5px -1px 10px 3px rgb(128, 128, 128,0.5)
  
}

.opened:hover{
  background-color:rgb(173, 210, 201);
  

}

.peaked{
  border: none;
  background-color:rgb(173, 210, 201);
  box-shadow: inset -5px -1px 10px 3px rgb(128, 128, 128,0.5)
}

.peaked:hover{
  background-color:rgb(173, 210, 201);
}





.lives{
  display:inline-block;
 
  padding-top:30px;  
  text-align: center;
  font-size:40px;
  
}

.tools{
  margin-top: 40px;
  margin-bottom: 20px;
  text-align:center;
}

.timer{
  display: inline-block;
  font-size:35px;
}

.restart-button {
  display: inline-block;
margin-left:70px;
margin-right: 70px;
  font-size: 30px; 
  cursor: pointer;
}

.mark{
  font-size: 35px;
}




.helpers button{
  display:block;
  width:100%;
  margin: 20px auto;
 
  padding: 15px;
  border: none;
  border-radius:50px;
  box-shadow:2px 2px rgb(55, 52, 50,0.5);
  cursor: pointer;
  background-color: rgb(246, 210, 218);
}



.light-switch{
margin-top:15px;

}

.light-switch span{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:100;

  
}

.seven-boom{
  display:block;
  width:100%;
  margin: 20px auto;
 
  padding: 15px;
  border: none;
  border-radius:50px;
  box-shadow:2px 2px rgb(55, 52, 50,0.5);
  cursor: pointer;
  background-color: rgb(246, 210, 218);
}




.hidden{
  visibility: hidden
}



