.board-container{
    border: 2px solid blue;
    margin-top:20px;
}
 




 table{
    width:500px;
    height:500px;
    border: 2px solid black;
    margin: 20px auto;
}



.cell {
    border:2px solid black;
    width: 40px;
    height: 40px;
    font-size:20px;
    text-align: center;
    
    
  }

  .timer{
    font-size:40px
  }