.board-container{
  margin: 20px auto;
  width:600px;
  height:600px;
}


 

 table{
  width: 100%;
  height:100%;
  border: 2px solid black;
  margin: 20px auto;
}

  .cell {
  
  border:2px solid black;
  width: 40px;
  height:40px;
  font-size:30px;
  text-align: center;
  
  
}

.levels{
  text-align: center;    
}

.levels button{

  font-size: 20px;
  margin: 10px;
}


.lives{
padding-top:40px;  
text-align: center;
font-size:40px;


}

.tools{
  margin-top: 40px;
text-align:center;
}

.timer{
  display: inline-block;
  font-size:35px;
 
  
  
}

.restart-button {
  display: inline-block;
margin-left:70px;
margin-right: 70px;
  font-size: 30px; 
}

.mark{
  font-size: 35px;
}




